.height {
    margin-top: 12vh;
  }
.height2 {
    height: 20vh;
  }
.horiz {
  display: flex;
  justify-content: space-between;
}
.cardC {
  width: 50%;
  margin-bottom: 1vh;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}