.center {
  display: flex;
  justify-content: center;
}
.button-height {
  margin-top: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  justify-content: right;
}
.bottom-padding {
  padding-bottom: 1rem;
}
#bottom-margin {
  margin-bottom: 5rem;
}
.top-margin {
  margin-top: 3rem;
}
#top-margin {
  margin-top: 3rem;
}
.full-width {
  width: 100%;
}