#a-link {
  text-decoration: none;
}
#a-link:hover {
  text-decoration: none;
  color: rgb(0, 99, 204);
}
.header {
  display: flex;
  justify-content: space-between;
}
.right-padding {
  padding-right: 5rem;
}
.right-padding-2 {
  padding-right: 3rem;
}
.top-padding {
  padding-top: 1rem;
}
#left-margin {
  margin-left: 3rem;
}